<%- include("navbar") %>

<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-7">

      <figure class="figure">
        <img
          src="/images/initial_stage_pics/images.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          Money Maker.
        </figcaption>
      </figure>
     <br />
      

      <h3>PROJECT DECRIPTION</h3>
      <p>
        A popular tourist island is among areas left devastated after a powerful typhoon ripped through the southern Philippines, officials say.
        Super typhoon Rai made landfall on the holiday island of Siargao on Thursday, bringing winds of about 195km/h (120mph) and heavy rainfall.
        The tropical storm has levelled homes on islands along its path, displacing hundreds of thousands of people.
        The UN says some 13 million people may be affected.
        So far 12 people are confirmed to have died, according to reports.
        On Siargao trees were uprooted and power lines toppled as thousands were forced to take shelter amid widespread flooding.
      </p>

      <h3>IMPACT OF PROJECT</h3>
      <p>
        A popular tourist island is among areas left devastated after a powerful typhoon ripped through the southern Philippines, officials say.
        Super typhoon Rai made landfall on the holiday island of Siargao on Thursday, bringing winds of about 195km/h (120mph) and heavy rainfall.
        The tropical storm has levelled homes on islands along its path, displacing hundreds of thousands of people.
        The UN says some 13 million people may be affected.
        So far 12 people are confirmed to have died, according to reports.
        On Siargao trees were uprooted and power lines toppled as thousands were forced to take shelter amid widespread flooding.
      </p>

      <br /><br />
      <div class="container">
   
        <figure class="figure">
          <img
            src="/images/final_stage_pics/tom.png"
            class="figure-img img-fluid rounded"
            alt="A generic square placeholder image with rounded corners in a figure."
          />
          <figcaption class="figure-caption">
             project.title.
          </figcaption>
        </figure>

      </div>
    </div>

    <div class="col-md-5">
      <hr />
      <div class="container">
        <div class="row">
          <h1 class="text-center text-uppercase">project.title</h1>
        </div>
        <hr />
        <br />
        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Target Amount</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  $100000 <small class="text-muted"></small>
                </h1>
               
                <button
                  type="button"
                  class="btn btn-lg btn-block btn-outline-primary"
                >
                  <a href="/donate" class="nav-link">Donate</a>
                </button>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>
                    <div class="progress">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 25%;"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    80%
                  </li>
                  <li>Amount donated</li>
                  <li>Location:project.location</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div>
</div>
<%- include("footer") %>
